@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

}


body {
  color: black;
  background: black;
  font-style: normal;

  overflow-x: hidden;

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  margin-top: 5%;


}

.secondary-font {
  color: rgb(153, 153, 153)
}

.shine-btn {
  position: relative;

  background-color: rgb(5, 5, 5);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  gap: 10px;
  border-radius: 20px;
  outline: none;
  overflow: hidden;
  border: 2px solid #3d3d3d6c;
  transition: all 0.2s ease-in-out;

}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.shine-btn:hover {
  transform: scale(1.05);
  color: rgb(211, 211, 211);
  background: #2b2b2bb1;
}

.hero-btn:hover .icon {
  transform: translate(4px);
}

.shine-btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.shine-btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.336),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}


.hero-btn {
  position: relative;
  transition: all 0.2s ease-in-out;

  font-size: .6em;
  background-color: rgb(5, 5, 5);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
  border: 2px solid #555555;

  outline: none;
  overflow: hidden;

}


.hero-btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.336),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
  animation: shine 2s ease-out infinite;

}

.hero-btn:hover {
  transform: scale(1.05);
  color: rgb(216, 216, 216);
  background: #28282891;
  border: 2px solid #ffffff;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}



.continer {
  font-family: "Poppins", sans-serif;
}

.easy {
  transform: rotate(-8deg) !important;
  bottom: 3vh !important;
  position: relative;
  background: #0970d1f8;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 40px 15px rgba(102, 105, 253, 0.575),
    0 3px 1px rgb(255, 255, 255);

}

.shadow {
  box-shadow: 0px 0px 20px 1px rgba(170, 170, 170, 0.178);
}


.gradient {
  box-shadow: 0px 40px 100px 20px rgba(0, 132, 255, 0.5),
    0px 30px 100px 2px rgb(190, 6, 6);
}

.text-gradient {

  background: linear-gradient(90deg, rgba(125, 74, 180, 1) 0%, rgb(255, 146, 43) 51%, rgba(125, 74, 180, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  caret-color: transparent;

}

.gradient-border {
  position: relative;
  padding: 2px;
  /* Adjust padding as needed */
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, rgba(125, 74, 180, 1) 0%, rgb(255, 146, 43) 51%, rgba(125, 74, 180, 1) 100%);
  z-index: -1;
}

.gradient-background {
  background: linear-gradient(90deg, rgb(90, 0, 185) 0%, rgba(253, 122, 0, 0.521) 51%, rgb(90, 19, 165) 100%);

}



@keyframes scroll {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 20s ease-in infinite;
}

.ImageSlider {
  position: relative;
  width: 90%;
  overflow: hidden;
}


.ImageSlider-blur-right {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  /* Adjust width to control the blur area */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.705) 50%, rgb(0, 0, 0) 100%);

  z-index: 98;
  /* Adjust blur intensity as needed */
}

.ImageSlider-blur-left {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  /* Adjust width to control the blur area */
  background: linear-gradient(to left, rgba(233, 12, 12, 0) 0%, rgb(0, 0, 0, 0.705) 50%, rgb(0, 0, 0) 100%);

  z-index: 98;
  /* Adjust blur intensity as needed */
}

.ImageSlider-blur-left {
  left: 0;
}

.ImageSlider-blur-right {
  right: 0;
}

.ImageSlider-content {
  display: flex;
  transition: transform 0.5s ease;
}

.banner-logo {
  width: 100px;


  object-fit: contain !important;
}





@media screen and (max-width: 431px) {
  .mobile-menu {
    width: 80vw !important;

  }

  .hide-list {
    display: none;
  }

  .logo {
    width: 20%;
  }

  .herofont {
    font-size: 14px;
  }

  .easy {

    bottom: 1.5vh !important;


  }
}


/* Media Query for Mobile Menu */
@media screen and (max-width: 768px) {
  .mobile-menu-icon {
    display: inline;
  }

  .navbar {
    display: flex;


  }

  .logo {
    width: 10%;
  }

  .mobile-menu {
    width: 36vw;
    background-color: #ffffff;
  }

  .hide-list {
    display: none;
  }

  .herofont {
    font-size: 18px;
  }

  .navbar {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    font-size: .5rem;
  }

  .easy {

    bottom: 2vh;


  }
}

@media screen and (max-width: 870px) {


  .herofont {
    font-size: 24px;
  }

}

@media screen and (min-width: 769px) {

  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    width: 60px;
  }

  .navbar {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
  }

  .herofont {
    font-size: 30px;
  }
}